<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /n-star/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /n-star/index.html [L]
</IfModule>
